-if(pages){
	nav(aria-label="Page navigation example")
		ul.pagination.justify-content-center
			-if(current == 1){
				-if(pages > 9){
					-for(var i = 1; i <= pages && i < 5 ; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}

					-}
					li.page-item.rounded-circle.disabled
						a.page-link ...
					-for(var i = pages-1; i <= pages ; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}

					-}
				-} else{
					-for(var i = 1; i <= pages && i < 10 ; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}

					-}
				-}
				li.page-item.rounded-circle(title="Siguiente pagina")
					a.page-link(href="/#{elims}a_pag=#{next}") &raquo;
				li.page-item.rounded-circle(title="Ultima pagina")
					a.page-link(href="/#{elims}a_pag=#{pages}", aria-label="Next") &raquo; &raquo;
			-}
			-if(current > 1 && current < pages){
				li.page-item.rounded-circle(title="Primera pagina")
					a.page-link(href="/#{elims}a_pag=1", aria-label="Previous") &laquo; &laquo;
				li.page-item.rounded-circle(title="Pagina anterior")
					a.page-link(href="/#{elims}a_pag=#{previous}") &laquo;
				-var cont = 0
				-if(pages > 9){
					-if (parseInt(current)+5==pages-1) {
						-for(var i = current; i <= pages ; i++){
							-if(i == current){
								li.page-item.rounded-circle.disabled
									a.page-link= i
							-}else{
								li.page-item.rounded-circle(title="Pagina numero #{i}")
									a.page-link(href="/#{elims}a_pag=#{i}")= i
							-} 
						-}	
					-}else if (parseInt(current)+5>pages-1) {
						-for(var i = pages-6; i <= pages ; i++){
							-if(i == current){
								li.page-item.rounded-circle.disabled
									a.page-link= i
							-}else{
								li.page-item.rounded-circle(title="Pagina numero #{i}")
									a.page-link(href="/#{elims}a_pag=#{i}")= i
							-} 
						-}	
					-} else{
						-for(var i = current; i < pages && cont < 5 ; i++){
							-if(i == current){
								li.page-item.rounded-circle.disabled
									a.page-link= i
							-}else{
								li.page-item.rounded-circle(title="Pagina numero #{i}")
									a.page-link(href="/#{elims}a_pag=#{i}")= i
							-} 
							-cont ++
						-}
						li.page-item.rounded-circle.disabled
							a.page-link ...
						-for(var i = pages-1; i <= pages ; i++){
							-if(i == current){
								li.page-item.rounded-circle.disabled
									a.page-link= i
							-}else{
								li.page-item.rounded-circle(title="Pagina numero #{i}")
									a.page-link(href="/#{elims}a_pag=#{i}")= i
							-}

						-}
					-}
				-} else { 
					-for(var i = 1; i <= pages; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}
					-}

				-}
				li.page-item.rounded-circle(title="Siguiente pagina")
					a.page-link(href="/#{elims}a_pag=#{next}") &raquo;
				li.page-item.rounded-circle(title="Ultima pagina")
					a.page-link(href="/#{elims}a_pag=#{pages}", aria-label="Next") &raquo; &raquo;
			-}
			-if(current == pages){
				li.page-item.rounded-circle(title="Primera pagina")
					a.page-link(href="/#{elims}a_pag=1", aria-label="Previous") &laquo; &laquo;
				li.page-item.rounded-circle(title="Pagina anterior")
					a.page-link(href="/#{elims}a_pag=#{previous}", aria-label="Previous") &laquo;
				-if(pages > 9){
					-for(var i = 1; i <= pages && i < 5 ; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}

					-}
					li.page-item.rounded-circle.disabled
						a.page-link ...
					-for(var i = pages-1; i <= pages ; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}

					-}
				-} else{
					-for(var i = 1; i <= pages && i < 10 ; i++){
						-if(i == current){
							li.page-item.rounded-circle.disabled
								a.page-link= i
						-}else{
							li.page-item.rounded-circle(title="Pagina numero #{i}")
								a.page-link(href="/#{elims}a_pag=#{i}")= i
						-}

					-}
				-}
			-}
-}
//- li.page-item.rounded-circle
//- 	a(class="page-link", href="/a_pag=:1") 1
//- li.page-item.rounded-circle
//- 	a(class="page-link", href="#") 2
//- li.page-item.rounded-circle
//- 	a(class="page-link", href="#") 3